<template lang="pug">
q-layout(view="hHh lpR fFf").bg-grey-1
  q-header.bg-grey-1 &nbsp;
  q-page-container
    q-page(padding).text-center

      .row.justify-center.items-center
        .col-auto.q-pr-lg
          img(src="/icon-512.png" style="width:100px")
        .col-auto
          h3.text-primary SlackClass
      
      .row.justify-center.q-mb-xl.q-pb-xl
        .col-12.col-sm-8
          .handdrawn SlackClass supports distributed teams working on case-based learning in Slack like this
          .arrowl
          Chat
            q-img(src="~assets/pic2.png")
          .handdrawn through the scheduled delivery of content like this
          .arrowr
          Chat
            q-img(src="~assets/pic1.png")
          .handdrawn and inter-team interaction like this
          .arrowl
          Chat
            q-img(src="~assets/pic3.png")
          .handdrawn and self-selected roles like this
          .arrowr
          Chat
            q-img(src="~assets/pic6.png")
            //- .text-left Hey team! 
            //-   strong @Benjay 
            //-   span has requested a name change for your team from 
            //-   strong The ambitious falcons 
            //-   span to 
            //-   strong Some chi nda hamburg er
            //-   span . This is under review, I'll let you know if/when it has been changed.
          .handdrawn supported by multi-media content like this
          .arrowl
          Chat
            q-img(src="~assets/pic4-1.png")
            q-img(src="~assets/pic4-2.png")
          //- .handdrawn across timezones, locations and institutions like this
          //- .arrowr
          //- Chat
          .handdrawn with asynchronous facilitator support like this
          .arrowr
          Chat(:user="'Jessica Sweeny'" :app="false")
            .text-left Thanks for getting involved in the prognosis discussion over the last 2 days. I encourage you to think about assumptions you might have made based on the patient demographic and how this might affect your resulting prognosis.



      .row.justify-center.q-mt-xl.q-mb-xl.q-pt-xl.q-pb-xl
        .col-12.col-sm-10
          //- img(src="~assets/book.svg")
          a(id="contact")
            .text-h5.text-bold Contact Us
          .text-body1 To find out more about SlackClass or get involved in our ongoing research, 
          .text-body1 please contact   
            a(href="mailto:info@actionlab.dev") info@actionlab.dev

  .bg-primary.q-pa-xl
    .row
      .col-12.text-center.text-body1
        .text-white SlackClass is an Open Source project 
          a(href="https://gitlab.com/action-lab-aus/global-classroom").text-white available here
        br
        .text-white It is developed and maintained by
          .text-bold Action Lab, Monash University
          .text-caption  Hand drawn arrows by kiddo from <a class="text-white" href="https://thenounproject.com/browse/icons/term/hand-drawn-arrow/" target="_blank" title="Hand drawn arrow Icons">Noun Project</a>
    .row
      .col-12.text-center
        a(href="//actionlab.dev")
          img(src="~assets/actionlablogo.svg")
  
</template>

<script>

import Chat from '../components/Chat.vue';

export default {
  name: 'MainLayout',
  components: {
    Chat
  },
  data () {
    return {
      
    }
  }
}
</script>

<style scoped>

.handdrawn {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
  margin-top:0.6em;
  line-height: 1em;
  margin-bottom:1em;
}

.arrowr {
  background-image: url(~assets/arrow2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 40%;
  height:130px;
}

.arrowl {
  background-image: url(~assets/arrow1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 60%;
  height:130px;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}
</style>