<script>
import Stats from '@/components/Stats.vue';
import QuickActions from '@/components/QuickActions.vue';
import TeamsOverview from '@/components/TeamsOverview.vue';

export default {
  components: {
    Stats,
    QuickActions,
    TeamsOverview,
  },
};
</script>

<template>
  <Header title="Dashboard" />

  <div class="flex min-h-screen mt-16 ml-16">
    <SideNav />
    <main class="flex-grow relative bg-slate-200">
      <!-- Sections start -->
      <Stats />
      <TeamsOverview />
      <!-- Sections end -->
    </main>
  </div>
</template>
