<template>
  <Header title="Documentation" />

  <div class="flex min-h-screen mt-16 ml-16">
    <SideNav />
    <main class="flex-grow relative bg-slate-200 p-6">
      <!-- Sections start -->
      <section id="vue-markdown" class="relative p-6 border bg-white rounded-xl max-w-screen-lg">
        <vue-markdown v-if="documentationMarkdown" :source="documentationMarkdown" />
      </section>
      <!-- Sections end -->
    </main>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown-render';
import docs from '@/assets/docs/docs.md';

export default {
  components: {
    VueMarkdown
  },
  data() {
    return {
      documentationMarkdown: docs
    };
  },
};
</script>
