<template>
  <!-- <Header title="Schedule" /> -->

  <div class="flex min-h-screen ml-16">
    <SideNav />
    <main class="flex-grow">
      <div class="p-0">
        <div class="flex relative h-screen pt-0">
          <div class="w-full h-full flex flex-col relative bg-slate-200">
            <div
              class="transition-all duration-300 ease-in-out flex-grow flex-shrink bg-transparent relative z-0"
              :class="isCreatingFullscreen ? 'h-20 overflow-hidden' : 'h-full overflow-y-auto'"
            >
              <DraftItems class="relative h-full w-full" />
            </div>

            <div
              @click="isCreatingFullscreen = false"
              class="transition-all duration-300 ease-in-out bg-black absolute inset-0 z-10"
              :class="
                isCreatingFullscreen
                  ? 'pointer-events-auto bg-opacity-80'
                  : 'pointer-events-none bg-opacity-0'
              "
            ></div>

            <ContentCreator class="flex-initial" v-model:full-screen="isCreatingFullscreen" />
          </div>
          <div class="relative max-h-full w-full overflow-y-auto">
            <ScheduledItems class="h-full" />
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
<script>
import DraftItems from '@/components/DraftItems.vue';
import ScheduledItems from '@/components/ScheduledItems.vue';
import ContentCreator from '@/components/ContentCreator.vue';

export default {
  components: {
    DraftItems,
    ScheduledItems,
    ContentCreator,
  },
  data() {
    return {
      isCreatingFullscreen: false,
    };
  },
};
</script>
