<script>
import API from '@/api';

import TeamMembers from '@/components/TeamMembers.vue';

export default {
  components: {
    TeamMembers,
  },
  data() {
    return {
      team: undefined,
      SLACK_WORKSPACE_ID: import.meta.env.VITE_SLACK_WORKSPACE_ID,
    };
  },
  mounted() {
    this.getTeam();
  },
  methods: {
    getTeam() {
      API.teams.getTeam(
        this.$route.params.id,
        (response) => {
          this.team = response;
        },
        (response) => {
          console.error('Error', response);
        },
      );
    },
    archiveTeam() {
      API.teams.archiveTeamChannel(this.team.channelId,
        (response) => {
          console.log(response);
          this.loading = false
          document.location = document.location
        },
        (response) => {
          this.loading = false
          console.error('Error', response);
        })
    }
  },
};
</script>

<template>
  <Header :title="`${team ? team.name : '-'}`" backToUrl="/" backToTitle="Dashboard" label="Team" />

  <div class="flex min-h-screen mt-16 ml-16">
    <SideNav />
    <main  v-if="team" class="flex-grow">
      <div class="p-0">
        <!-- Sections start -->
        <section class="p-6 border bg-slate-200" :class="rounded ? 'rounded-xl' : ''">
          <div class="border bg-white rounded-xl divide-y-[1px] divide-slate-200">
            <ul class="-m-1 p-5">
                <li class="m-1 rounded bg-slate-200 px-2 py-1 inline-block text-xs space-x-2">
                  <span class="text-slate-700 font-bold">ID: {{ team.channelId }}</span>
                </li>
                <li class="m-1 rounded bg-slate-200 px-2 py-1 inline-block text-xs space-x-2">
                  <span class="text-slate-700 font-bold">{{ team.users.length }} members</span>
                  <span>
                    <i class="fas fa-people-group"></i>
                  </span>
                </li>
                <li class="m-1 rounded bg-slate-200 px-2 py-1 inline-block text-xs space-x-2">
                  <span class="text-slate-700 font-bold">Received onboarding</span>
                  <span>
                    <i class="fas" :class="team.received_onboarding ? 'fa-check' : 'fa-times-circle'"></i>
                  </span>
                </li>
              </ul>
          </div>
        </section>

        <div class="space-y-6">
          <TeamMembers />
        </div>

        <section class="p-6 border bg-slate-200" :class="rounded ? 'rounded-xl' : ''">
          <div class="border bg-white rounded-xl divide-y-[1px] divide-slate-200">
            <div class="flex flex-wrap gap-2 p-5 justify-between">
              <Button @click="archiveTeam()" bgClass="border border-red-500" bgHoverClass="hover:bg-red-500" textClass="text-red-500" textHoverClass="hover:text-white">
                <i class="fas fa-ban"></i>
                <span>Archive team</span>
              </Button>

              <a :href="`https://app.slack.com/client/${this.SLACK_WORKSPACE_ID}/${team.channelId}`" target="_blank" rel="noopener noreferrer">
                <Button>
                  <span>View Team in Slack</span>
                  <i class="fas fa-arrow-right"></i>
                </Button>
              </a>
            </div>
          </div>
        </section>
      <!-- Sections end -->
      </div>
    </main>
  </div>
</template>
