<template>
  <button
    type="button"
    :class="[
      bgClass,
      bgHoverClass,
      textClass,
      textHoverClass,
      rounded ? 'rounded' : '',
      icon ? 'pl-10' : '',
      sizeClasses,
    ]"
    class="relative transition-all font-bold text-xs md:text-sm space-x-2 flex items-center justify-center"
  >
    <i
      v-if="icon"
      class="absolute inset-0 right-auto transition-all ease-in-out duration-300 bg-white flex items-center justify-center px-3 bg-opacity-20 group-hover:scale-110 fas text-white fa-lg"
      :class="[icon, size == 'icon' ? 'right-0' : '']"
    ></i>
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    rounded: {
      type: Boolean,
      default: true,
    },
    size: {
      type: String,
      default: 'md',
    },
    bgClass: {
      type: String,
      default: 'bg-blue-500',
    },
    bgHoverClass: {
      type: String,
      default: 'hover:bg-blue-600',
    },
    textClass: {
      type: String,
      default: 'text-white',
    },
    textHoverClass: {
      type: String,
      default: 'text-white',
    },
    icon: {
      type: String,
      required: false,
    },
  },
  computed: {
    sizeClasses() {
      switch (this.size) {
        case 'sm':
          return 'px-2 h-8 !text-xs';

        case 'icon':
          return 'px-0 h-10 !text-xs';

        default:
          return 'px-4 h-10 py-2';
      }
    },
  },
};
</script>
