<template>
  <div v-if="!modelValue" class="z-50 w-52 block text-left">
    <div>
      <Button
        :aria-expanded="selectingContentType"
        aria-haspopup="true"
        @click="selectingContentType = !selectingContentType"
        class="group w-full h-10"
        :bgClass="'bg-blue-500'"
        :bgHoverClass="'hover:bg-blue-600'"
        :textClass="'text-white'"
        :textHoverClass="'hover:text-white'"
      >
        <span> Select content type </span>
        <i class="fas fa-angle-down -mr-1 ml-2 mt-1 h-5 w-5"></i>
      </Button>
    </div>

    <div
      v-if="selectingContentType"
      class="absolute inset-0 top-16 block overflow-auto bg-white z-10 focus:outline-none"
      role="menu"
    >
      <div class="" role="none">
        <a
          v-for="(value, key) in availableTypes"
          href="#"
          @click="
            $emit('update:modelValue', key);
            selectingContentType = false;
          "
          role="menuitem"
          tabindex="-1"
          class="w-full px-4 py-2 hover:bg-slate-100 block"
        >
          <div class="flex items-center justify-start space-x-1">
            <div
              class="h-2 w-2 rounded-full"
              :style="`background-color: #${value.leftColor}`"
            ></div>
            <h1 class="text-sm font-semibold text-slate-800">{{ value.title }}</h1>
          </div>
          <p class="pl-3 text-xs text-slate-400">{{ value.subtitle }}</p>
        </a>
      </div>
    </div>
  </div>

  <div v-if="modelValue" class="group relative">
    <a
      href="#"
      @click="
        $emit('update:modelValue', undefined);
        selectingContentType = true;
      "
      role="menuitem"
      tabindex="-1"
      class="w-full px-4 py-2 rounded-lg border border-slate-300 bg-white hover:bg-slate-100 block"
    >
      <div class="flex items-center justify-start space-x-1">
        <div
          v-if="contentTypes[modelValue]"
          class="h-2 w-2 rounded-full"
          :style="`background-color: #${contentTypes[modelValue].leftColor}`"
        ></div>
        <h1 class="text-sm font-semibold text-slate-800">
          {{ contentTypes[modelValue] ? contentTypes[modelValue].title : modelValue }}
        </h1>
      </div>
      <!-- <p class="pl-3 text-xs text-slate-400">{{ contentTypes[modelValue].subtitle }}</p> -->
    </a>
    <!-- <button
      v-if="modelValue"
      @click="$emit('update:modelValue', undefined)"
      class="h-6 w-6 rounded-full flex items-center justify-center bg-red-500 text-white absolute -inset-2 left-auto bottom-auto p-4 peer z-10 hover:ring-2 ring-red-500 ring-offset-2"
    >
      <i class="fas fa-trash"></i>
    </button>
    <img
      :src="`${contentTypeImage}`"
      alt=""
      class="transition-all h-auto w-auto max-w-full mb-4 max-h-32 peer-hover:opacity-50 pointer-events-none"
    /> -->
  </div>
</template>

<script>
import contentTypesYAML from '@/content/content-types.yaml';

export default {
  emits: ['update:modelValue'],
  props: {
    modelValue: {
      type: String,
    },
  },
  data() {
    return {
      MEDIA_BASE_URL: import.meta.env.VITE_MEDIA_BASE_URL,
      selectingContentType: false,
    };
  },
  computed: {
    contentTypes() {
      let result = {};
      const availableTypes = contentTypesYAML;
      for (const key of Object.keys(availableTypes)) {
        result[key] = contentTypesYAML[key];
      }

      return result;
    },
    availableTypes() {
      let result = {};
      const availableTypes = contentTypesYAML;
      for (const key of Object.keys(availableTypes)) {
        if (contentTypesYAML[key].type == 'content') {
          result[key] = contentTypesYAML[key];
        }
      }

      return result;
    },
    contentTypeImage() {
      if (!this.modelValue) return null;
      
      const meta = contentTypesYAML[this.modelValue];

      const { title, subtitle, icon, leftColor, rightColor } = meta;

      return `${this.MEDIA_BASE_URL}prompt?title=${title}&subtitle=${subtitle}&leftColor=${leftColor}&rightColor=${rightColor}&icon=${icon}`;
    },
  },
};
</script>
