<template>
  <div class="h-auto bg-transparent z-10 relative" :class="fullScreen ? 'm-4 mb-0' : ''">
    <section
      :class="fullScreen ? 'bg-slate-100 shadow-lg rounded-t-xl max-h-screen' : 'transparent'"
    >
      <div v-if="!fullScreen" class="flex p-3 bg-white mx-5 mt-0 rounded-t-lg space-x-3">
        <Button
          @click="
            $emit('update:full-screen', true);
            markdownEnabled = true;
            contentType = undefined;
          "
          bgClass="bg-blue-500"
          bgHoverClass="hover:bg-blue-500 hover:ring-2 hover:ring-offset-2 hover:ring-blue-500"
          class="block w-full relative group overflow-hidden"
          icon="fa-align-left"
        >
          Content
        </Button>
        <Button
          @click="
            $emit('update:full-screen', true);
            markdownEnabled = false;
            contentType = 'activity';
          "
          bgClass="bg-blue-500"
          bgHoverClass="hover:bg-blue-500 hover:ring-2 hover:ring-offset-2 hover:ring-blue-500"
          class="block w-full relative group overflow-hidden"
          icon="fa-hand-pointer"
        >
          Activity
        </Button>
      </div>
      <div v-show="fullScreen">
        <div v-if="contentType == 'activity'">
          <ActivitySelector v-model="contentType" />
        </div>
        <div v-else>
          <!-- Header start -->
          <div
            v-if="
              ['ice-breaker', 'role-assignment', 'question-activity', 'poll', ''].indexOf(
                contentType,
              ) == -1
            "
            class="bg-slate-100 rounded-t-xl overflow-hidden flex space-x-2 p-3"
          >
            <ContentTypeSelector v-model="contentType" />

            <div class="flex-grow"></div>

            <Button
              @click="toggleFileUpload"
              class="group flex items-center h-10"
              :bgClass="fileUploadEnabled ? 'bg-blue-500' : 'bg-white'"
              :bgHoverClass="fileUploadEnabled ? 'hover:bg-gray-600' : 'hover:bg-slate-50'"
              :textClass="fileUploadEnabled ? 'text-white' : 'text-gray-500'"
              :textHoverClass="fileUploadEnabled ? 'hover:text-white' : 'hover:text-gray-600'"
            >
              <i class="fas fa-paperclip fa-lg"></i>
              <span class="hidden sm:inline-block">Add files</span>
              <span class="hidden sm:inline-block" v-if="fileUploadEnabled">
                <i class="hidden group-hover:inline-block fas fa-times-circle fa-lg"></i>
                <i class="inline-block group-hover:hidden fas fa-check-circle fa-lg"></i>
              </span>
            </Button>
          </div>
          <!-- Header end -->

          <!-- Form start -->

          <div
            v-if="['question-activity', 'poll'].indexOf(contentType) != -1"
            class="space-y-3 p-4"
          >
            <h1 class="font-bold">{{ contentTypes[contentType].title }}</h1>

            <textarea
              v-model="message"
              class="bg-white block w-full px-4 py-3 resize-y min-h-fit border border-slate-300 rounded-lg"
              type="text"
              name="message"
              :placeholder="placeholder"
              @focus="$emit('update:full-screen', true)"
            />
          </div>

          <!-- Editor start -->
          <div v-if="markdownEnabled" id="editor" :placeholder="placeholder"></div>
          <!-- Editor end -->

          <div class="px-4">
            <div class="space-y-3">
              <!-- Image upload start -->
              <div v-if="fileUploadEnabled">
                <div class="py-2">
                  <h1 class="">
                    <span class="text-xm text-slate-400"
                      >Supported file types - .jpg, .jpeg, .png, .pdf, .doc, .docx, .mp3</span
                    >
                  </h1>
                </div>
                <file-pond
                  ref="pond"
                  allow-multiple="true"
                  max-files="5"
                  :server="{ url: FILE_UPLOAD_ENDPOINT, process: { withCredentials: true } }"
                  name="files"
                  accepted-file-types="image/jpeg, image/png, application/pdf, 	application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, audio/mpeg, audio/mp3"
                  v-on:init="handleFilePondInit"
                  :credits="false"
                />
              </div>
              <!-- Image upload end -->

              <!-- Poll options start -->
              <div v-if="contentType === 'poll'" class="space-y-3 pb-4">
                <h1 class="text-base text-slate-400">Options:</h1>
                <div v-for="(option, index) in pollOptions">
                  <div class="flex items-center">
                    <input
                      type="text"
                      v-model="pollOptions[index]"
                      @input="pollOptionChanged($event, index)"
                      :placeholder="`Option ${index + 1}`"
                      class="bg-white block w-full px-4 py-3 resize-y min-h-fit border border-slate-300 rounded-lg"
                    />

                    <button
                      v-if="index > 1"
                      @click="pollOptions.splice(index, 1)"
                      class="text-red-500 bg-red-100 rounded ml-2 p-2 flex items-center justify-center"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>

                <div v-if="contentType == 'poll'" class="flex justify-between">
                  <div></div>
                  <Button @click="addPollOption">
                    <i class="fas fa-plus"></i>
                  </Button>
                </div>
              </div>
              <!-- Poll options end -->

              <!-- Team questions activity start -->
              <div v-if="['question-activity'].indexOf(contentType) != -1" class="space-y-3 py-4">
                <DateTimePicker label="Submissions by:" v-model="questionSubmissionDeadline" />
                <DateTimePicker
                  label="Distribute questions on:"
                  v-model="questionDistributionDate"
                />
                <DateTimePicker label="Awards on:" v-model="questionAwardsDate" />
              </div>

              <!-- Team questions activity end -->
            </div>
          </div>
          <!-- Form end -->

          <!-- Footer start -->
          <div class="flex justify-between space-x-3 bg-slate-200 rounded-b-xl p-4">
            <!-- Close button start -->
            <Button
              v-if="fullScreen"
              @click="resetContentCreation"
              bgClass="bg-red-500"
              bgHoverClass="hover:bg-red-600"
            >
              <span>Cancel</span>
            </Button>
            <!-- Close button end -->
            <div class="flex space-x-2">
              <!-- Auto-fill start -->
              <Button
                @click="autoFill()"
                size="icon"
                icon="fa-bolt"
                bgClass="bg-yellow-500"
                bgHoverClass="hover:bg-yellow-500 hover:ring-2 hover:ring-offset-2 hover:ring-yellow-500"
              >
              </Button>
              <!-- Auto-fill end -->

              <!-- Save as draft start -->
              <Button @click="createContent" type="submit">
                <span class="font-bold">Save as draft</span>
                <i class="fas fa-arrow-right text-white"></i>
              </Button>
              <!-- Save as draft end -->
            </div>
          </div>
        </div>
      </div>
      <!-- Footer end -->
    </section>
  </div>
</template>

<script>
import API from '@/api';

import BriefExamination from '@/content/example/brief-examination.md';
import Diagnosis from '@/content/example/diagnosis.md';
import Investigations from '@/content/example/investigations.md';
import Management from '@/content/example/management.md';
import PatientHistory from '@/content/example/patient-history.md';
import PatientInformation from '@/content/example/patient-information.md';
import PatientValues from '@/content/example/patient-values.md';
import PresentationAndTriage from '@/content/example/presentation-and-triage.md';
import Prognosis from '@/content/example/prognosis.md';
import Resources from '@/content/example/resources.md';
import SystemsReview from '@/content/example/systems-review.md';

import Editor from '@toast-ui/editor';

import contentTypesYAML from '@/content/content-types.yaml';

// Import markdown editor styles
import '@toast-ui/editor/dist/toastui-editor.css';

import dayjs from 'dayjs';

// Import FilePond
import vueFilePond from 'vue-filepond';

// Import plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js';
import FilePondPluginImagePreview from 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.esm.js';

// Import styles
import 'filepond/dist/filepond.min.css';
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

// Create FilePond component
const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview);
// const FilePond = vueFilePond();

// Components
import DateTimePicker from '@/components/DateTimePicker.vue';
import ActivitySelector from '@/components/ActivitySelector.vue';
import ContentTypeSelector from '@/components/ContentTypeSelector.vue';

export default {
  components: {
    FilePond,
    DateTimePicker,
    ActivitySelector,
    ContentTypeSelector,
  },
  props: {
    fullScreen: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    this.initMarkdown();
  },
  data() {
    return {
      FILE_UPLOAD_ENDPOINT: import.meta.env.VITE_FILE_UPLOAD_ENDPOINT,
      editor: undefined,
      message: undefined,
      contentType: undefined,
      markdownEnabled: true,
      fileUploadEnabled: false,
      pollOptions: ['', ''],
      questionSubmissionDeadline: undefined,
      questionDistributionDate: undefined,
      questionAwardsDate: undefined,
    };
  },
  computed: {
    contentTypes() {
      let result = {};
      const availableTypes = contentTypesYAML;
      for (const key of Object.keys(availableTypes)) {
        result[key] = contentTypesYAML[key];
      }

      return result;
    },
    placeholder() {
      switch (this.contentType) {
        case 'poll':
          return 'Ask a question...';
        case 'question-activity':
          return 'Enter the question prompt...';

        default:
          return 'Write content...';
      }
    },
  },
  watch: {
    contentType: function (newContentType, oldContentType) {
      if (typeof newContentType == 'undefined' && oldContentType == 'activity') {
        this.resetContentCreation();
      } else {
        switch (newContentType) {
          case 'ice-breaker':
            this.createContent();
            this.resetContentCreation();
            break;

          case 'role-assignment':
            this.createContent();
            this.resetContentCreation();
            break;

          default:
            break;
        }
      }
      this.initMarkdown(' ');
    },
    markdownEnabled() {
      this.initMarkdown('');
    },
  },
  methods: {
    initMarkdown(text) {
      try {
        this.$nextTick(() => {
          this.editor = new Editor({
            el: document.getElementById('editor'),
            usageStatistics: false,
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            hideModeSwitch: true,
            toolbarItems: [
              ['bold', 'italic', 'strike'],
              ['ul', 'ol'],
            ],
            initialValue: text,
          });
        });
      } catch (error) {}
    },
    autoFill() {
      // For testing/demo purposes
      switch (this.contentType) {
        case 'poll':
          this.message = 'Which is your favourite colour?';
          this.pollOptions = ['Blue', 'Red', 'Green'];
          break;
        case 'question-activity':
          this.message = `During the course we ask each team to come up with a question for the other teams. This helps challenge the thinking of other teams. When you receive a question from another team you can nominate it for an award. Question awards are presented at the end of the course. When you're ready click below to submit your team's question for review.`;
          this.questionSubmissionDeadline = dayjs().add(2, 'm');
          this.questionDistributionDate = dayjs().add(2, 'm');
          this.questionAwardsDate = dayjs().add(4, 'm');
          break;
        default:
          let examples = {
            'brief-examination': BriefExamination,
            diagnosis: Diagnosis,
            investigations: Investigations,
            management: Management,
            'patient-history': PatientHistory,
            'patient-information': PatientInformation,
            'patient-values': PatientValues,
            'presentation-and-triage': PresentationAndTriage,
            prognosis: Prognosis,
            resources: Resources,
            'systems-review': SystemsReview,
          };

          if (examples[this.contentType]) {
            this.message = examples[this.contentType];
          } else {
            this.message = 'Some written content.';
          }
          break;
      }
      this.initMarkdown(this.message);
    },
    resetContentCreation() {
      // Minimize
      this.$emit('update:full-screen', false);

      // Reset form
      this.message = undefined;
      try {
        this.editor.reset();
      } catch (error) {}
      this.pollOptions = ['', ''];
      this.fileUploadEnabled = false;
      this.questionSubmissionDeadline = undefined;
      this.questionDistributionDate = undefined;
      this.questionAwardsDate = undefined;

      // Remove files
      if (this.$refs && this.$refs.pond) {
        this.$refs.pond.removeFiles();
      }

      // Return to default contentType
      this.contentType = undefined;
    },
    addPollOption() {
      if (this.pollOptions.length >= 10) {
        alert('Option limit reached');
        return;
      }
      this.pollOptions.push('');
    },
    pollOptionChanged($event, index) {
      this.pollOptions[index] = $event.target.value;
    },
    toggleMarkdown() {
      this.markdownEnabled = !this.markdownEnabled;

      if (this.markdownEnabled) {
        this.initMarkdown();
      } else {
        try {
          this.message = this.editor.getMarkdown();
        } catch (error) {}
      }
    },
    togglePoll() {
      this.contentType = this.contentType == 'poll' ? undefined : 'poll';
    },
    toggleFileUpload() {
      this.fileUploadEnabled = !this.fileUploadEnabled;
    },
    handleFilePondInit: function () {
      console.log('FilePond has initialized');
    },
    createContent() {
      // Type
      let type = this.contentType ? contentTypesYAML[this.contentType].type : 'none';

      // Content type
      let contentType = this.contentType;

      // Text
      let text = this.markdownEnabled ? this.editor.getMarkdown() : this.message;

      // Files
      let files = [];

      if (this.fileUploadEnabled) {
        if (this.$refs && this.$refs.pond) {
          files = this.$refs.pond.getFiles();
          console.log('files', files);
          files = files.map((f) => {
            return JSON.parse(f.serverId)[0];
          });
        }
      }
      console.log('files', files);

      // Poll options
      var pollOptions = [];

      if (this.contentType == 'poll') {
        pollOptions = this.pollOptions.filter((i) => {
          return i != null && i != '';
        });
      }

      let meta = {};

      // Question activity
      if (this.contentType == 'question-activity') {
        if (typeof this.questionSubmissionDeadline === 'undefined') {
          alert('Please set a submission deadline!');
          return;
        }
        if (typeof this.questionDistributionDate === 'undefined') {
          alert('Please set a distribution date!');
          return;
        }
        if (typeof this.questionAwardsDate === 'undefined') {
          alert('Please set an awards date!');
          return;
        }
        meta['questionSubmissionDeadline'] = this.questionSubmissionDeadline;
        meta['questionDistributionDate'] = this.questionDistributionDate;
        meta['questionAwardsDate'] = this.questionAwardsDate;
      }
      API.schedule.createContent(
        { type, text, contentType, pollOptions, files, meta },
        (response) => {
          console.log(response);
          this.emitter.emit('refresh-schedule');
          this.resetContentCreation();
        },
        (response) => {
          console.error('Error', response);
        },
      );
    },
  },
};
</script>
