<template>
  <div class="w-full">
    <p class="p-1 text-xs font-semibold text-slate-400">{{ label }}</p>
    <div class="flex justify-start space-x-2 relative">
      <v-date-picker
        v-model="value"
        mode="dateTime"
        is24hr
        :min-date="new Date()"
        class="flex-grow w-full"
      >
        <template v-slot="{ inputValue, inputEvents }">
          <div class="relative">
            <input
              placeholder="Select date"
              autocomplete="off"
              data-lpignore="true"
              data-form-type="other"
              class="w-full px-4 py-2 text-sm bg-white text-slate-500 focus:text-black border-2 rounded-lg focus:outline-none focus:border-blue-500"
              :value="inputValue"
              v-on="inputEvents"
            />
          </div>
        </template>
      </v-date-picker>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  emits: ['update:modelValue'],
  props: {
    modelValue: {
      type: String,
    },
    label: {
      type: String,
      required: true,
    },
    value: {
      type: String,
    },
  },
  watch: {
    value() {
      this.$emit('update:modelValue', this.value);
    },
  },
};
</script>
