<template>
  <section class="p-4 border bg-slate-200 rounded-xl relative overflow-hidden">
    <!-- <header class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Quick actions</h1>
    </header> -->

    <div class="space-y-4 divide-y divide-slate-300">
      <div class="flex flex-wrap gap-2">
        <Button
          bgClass="bg-green-500"
          bgHoverClass="hover:bg-green-600"
          @click="performAction('assignTeams')"
        >
          <i class="fas fa-plus"> </i>
          <span class="whitespace-nowrap">Assign teams</span>
        </Button>
        <!-- <Button
          bgClass="bg-orange-500"
          bgHoverClass="hover:bg-orange-600"
          @click="performAction('unassignTeams')"
        >
          <i class="fas fa-minus"></i>
          <span class="whitespace-nowrap">Unassign teams</span>
        </Button> -->
        <Button
          bgClass="bg-red-500"
          bgHoverClass="hover:bg-red-600"
          @click="performAction('archiveTeamChannels')"
        >
          <i class="fas fa-ban"></i>
          <span class="whitespace-nowrap">Archive teams</span>
        </Button>
        <Button
          bgClass="bg-red-500"
          bgHoverClass="hover:bg-red-600"
          @click="performAction('resetAll')"
        >
          <i class="fas fa-exclamation-circle"> </i>
          <span class="whitespace-nowrap">Reset all</span>
        </Button>
        <!-- <Button
          bgClass="bg-red-500"
          bgHoverClass="hover:bg-red-600"
          @click="performAction('deleteTeamChannels')"
        >
          <i class="fas fa-trash"></i>
          <span class="whitespace-nowrap">Delete all teams</span>
        </Button> -->
      </div>
    </div>

    <Transition name="fade">
      <div v-if="loading" class="fixed z-50 inset-0 bg-slate-700 bg-opacity-90 flex flex-col items-center justify-center space-y-4">
        <i class="text-white fa-solid fa-spinner fa-spin-pulse fa-2x"></i>
        <p class="text-white text-md font-bold">Loading</p>
      </div>
    </Transition>
  </section>
</template>

<script>
import API from '@/api';

export default {
  data: function() {
    return {
      SLACK_WORKSPACE_ID: import.meta.env.VITE_SLACK_WORKSPACE_ID,
      loading: false
    }
  },
  methods: {
    performAction(action) {
      this.loading = true

      API.teams[action](
        (response) => {
          console.log(response);
          this.loading = false
          document.location = document.location
        },
        (response) => {
          this.loading = false
          console.error('Error', response);
        },
      );
    },
  },
};
</script>
