<template>
  <div class="bg-slate-100 overflow-y-auto">
    <div class="flex space-x-4 pt-0 border-b border-b-slate-200">
      <div
        class="flex-grow text-center py-4 px-12 cursor-pointer space-x-2"
        @click="activeTab = 'UPCOMING'"
        :class="
          activeTab == 'UPCOMING' ? 'font-semibold text-blue-500' : 'bg-slate-200 text-slate-400'
        "
      >
        <i class="fas fa-clock"></i>
        <span>Upcoming</span>
      </div>
      <div
        class="flex-grow text-center py-4 px-12 cursor-pointer space-x-2"
        @click="activeTab = 'PAST'"
        :class="activeTab == 'PAST' ? 'font-semibold text-blue-500' : 'bg-slate-200 text-slate-400'"
      >
        <i class="fas fa-clock-rotate-left"></i>
        <span>Past</span>
      </div>
    </div>
    <div class="p-6">
      <!-- Items start -->
      <div v-if="activeTab == 'UPCOMING'" class="space-y-10">
        <Warning
          v-if="!upcomingItems || upcomingItems.length == 0"
          text="No upcoming items scheduled"
        />
        <!-- Item start -->
        <ScheduleItemTile
          v-for="item of upcomingItems"
          :key="item._id"
          :item="item"
          v-on:refresh="
            this.emitter.emit('refresh-schedule');
            loadItems();
          "
        />
        <!-- Item end -->
      </div>
      <div v-if="activeTab == 'PAST'" class="space-y-10">
        <Warning v-if="!pastItems || pastItems.length == 0" text="No items have been posted" />
        <!-- Item start -->
        <ScheduleItemTile
          v-for="item of pastItems"
          :key="item._id"
          :item="item"
          v-on:refresh="
            this.emitter.emit('refresh-schedule');
            loadItems();
          "
        />
        <!-- Item end -->
      </div>
      <!-- Items end -->
    </div>
  </div>
</template>

<script>
import API from '@/api';

import ScheduleItemTile from '@/components/ScheduleItemTile.vue';

export default {
  components: {
    ScheduleItemTile,
  },
  data() {
    return {
      refreshInterval: undefined,
      upcomingItems: [],
      pastItems: [],
      activeTab: 'UPCOMING',
    };
  },
  mounted() {
    this.loadItems();

    this.emitter.on('refresh-schedule', this.loadItems);

    this.refreshInterval = setInterval(() => {
      this.loadItems();
    }, 10000); // Reload every 10 seconds
  },
  beforeDestroy() {
    if (this.refreshInterval) {
      clearInterval(this.refreshInterval);
    }
  },
  methods: {
    loadItems() {
      API.schedule.getScheduledScheduleItems(
        (response) => {
          console.log(response);
          this.upcomingItems = response.upcoming;
          this.pastItems = response.past;
        },
        (response) => {
          console.error('Error', response);
        },
      );
    },
  },
};
</script>
