<template>
  <div class="bg-slate-700 w-16 fixed inset-0 right-auto bottom-16">
    <!-- Home - start -->
    <a
      :href="backToUrl || '/'"
      :class="backToUrl ? 'bg-slate-600 hover:bg-blue-500' : 'bg-slate-800'"
      class="h-16 flex items-center"
    >
      <button class="h-16 aspect-square flex items-center justify-center">
        <img :src="`${MEDIA_BASE_URL}app/icon`" class="h-10 w-10 rounded-full overflow-hidden" />
      </button>
    </a>
    <!-- Home - end -->

    <!-- Menu items - start -->
    <ul class="flex flex-col h-full">

      <!-- Dashboard - start -->
      <router-link to="/" title="Dashboard">
        <li class="text-white hover:bg-white hover:bg-opacity-10 flex items-center justify-start">
          <div class="h-16 aspect-square flex items-center justify-center">
            <i class="fas fa-columns"></i>
          </div>
          <span class="hidden">Dashboard</span>
        </li>
      </router-link>
      <!-- Dashboard - end -->

      <!-- Schedule - start -->
      <router-link to="/schedule" title="Schedule">
        <li class="text-white hover:bg-white hover:bg-opacity-10 flex items-center justify-start">
          <div class="h-16 aspect-square flex items-center justify-center">
            <i class="fas fa-calendar-week"></i>
          </div>
          <span class="hidden">Schedule</span>
        </li>
      </router-link>
      <!-- Schedule - end -->

      <!-- Documentation - start -->
      <router-link to="/documentation" title="Documentation">
        <li class="text-white hover:bg-white hover:bg-opacity-10 flex items-center justify-start">
          <div class="h-16 aspect-square flex items-center justify-center">
            <i class="fas fa-book-open"></i>
          </div>
          <span class="hidden">Documentation</span>
        </li>
      </router-link>
      <!-- Documentation - end -->

      <!-- Spacer - start -->
      <li class="flex-grow"></li>
      <!-- Spacer - end -->


      <!-- Logout - start -->
      <li
        @click="logout()"
        class="text-white bg-slate-800 hover:bg-red-500 hover:bg-opacity-100 hover:cursor-pointer flex items-center justify-start"
      >
        <div class="h-16 aspect-square flex items-center justify-center">
          <i class="fas fa-right-from-bracket"></i>
        </div>
        <span class="hidden">Logout</span>
      </li>
    </ul>
    <!-- Menu items - end -->

  </div>
</template>

<script>
import API from '@/api';

export default {
  data() {
    return {
      MEDIA_BASE_URL: import.meta.env.VITE_MEDIA_BASE_URL,
    };
  },
  methods: {
    logout() {
      API.status.logout(
        (response) => {
          console.log(response);
          document.location = '/login';
        },
        (response) => {
          console.error('Error', response);
        },
      );
    },
  },
};
</script>

<style lang="css">
.router-link-active li {
  @apply bg-blue-500 pointer-events-none;
}
</style>
