<template>
  <Transition name="fade">
    <section v-show="ready" class="p-6 border bg-slate-200" :class="rounded ? 'rounded-xl' : ''">
      <header class="flex justify-between items-center mb-4">
        <!-- Title start -->
        <h1 class="text-2xl font-bold">Teams</h1>
        <!-- Title end -->

        <div
          v-if="teams && teams.length > 0"
          class="items-center rounded overflow-hidden hidden sm:flex"
        >
          <Button
            @click="view = 'list'"
            :rounded="false"
            :bgClass="view == 'list' ? 'bg-blue-500' : 'bg-slate-400'"
          >
            <i class="fas fa-list fa-lg"></i>
          </Button>

          <Button
            @click="view = 'grid'"
            :rounded="false"
            :bgClass="view == 'grid' ? 'bg-blue-500' : 'bg-slate-400'"
          >
            <i class="fas fa-table-cells-large fa-lg"></i>
          </Button>
        </div>
      </header>

      <div v-if="!teams || teams.length == 0">
        <div class="p-3 text-sm text-orange-300 bg-orange-50 rounded">
          <i class="fas fa-exclamation-circle"></i>
          There are currently no teams
        </div>
      </div>
      <div
        v-if="teams && teams.length > 0"
        :class="
          view == 'grid'
            ? 'md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5'
            : 'grid-cols-1'
        "
        class="grid gap-4"
      >
        <div v-for="team in teams" :key="team.id">
          <TeamTile :team="team" />
        </div>
      </div>
    </section>
  </Transition>
</template>

<script>
import API from '@/api';

import TeamTile from '@/components/TeamTile.vue';

export default {
  components: {
    TeamTile,
  },
  data() {
    return {
      ready: false,
      view: 'list', // or 'grid'
      teams: undefined,
    };
  },
  mounted() {
    API.teams.getTeams(
      (response) => {
        this.teams = response;
        this.ready = true;
      },
      (response) => {
        console.error('Error', response);
      },
    );
  },
};
</script>

<style></style>
